1. ; 안써도 된다

In [12]:
print('Hello World')
print('Hello World');

Hello World
Hello World

2. 주석은 # or ''' or """

In [21]:
# 한줄짜리 주석입니다.
'''
이렇게 
여러줄을
주석처리 할 수 있습니다.
'''
print(10)
"""
쌍 따옴표로도
할 수 있습니다.
"""

10

'\n쌍 따옴표로도\n할 수 있습니다.\n'

3. 대소문자 구별

In [22]:
a = 1
A = 10
print(a)
print(A)

1
10

4. 인덱스는 []를 통해 지정할 수 있으며, 0부터 시작, [-1]이 가장 마지막 문자

In [24]:
a = 'hellow world'
print(a[-1])

d

5. 슬라이스는 [ : ] : 전체 / [a:b] : a 이상 b 미만

In [25]:
print(a[:])
print(a[5:8])
print(a[-5:])

hellow world
w w
world

- 두 개 이상의 값 넣기

In [3]:
print('오늘은 {}월 {}일 입니다.'.format(5, 10))

오늘은 5월 10일 입니다.

- 이름을 통한 값 넣기

In [4]:
print('오늘은 {month}월 {day}일 입니다. {month}월은 가정의 달입니다.'.format(month = 5, day = 10))

오늘은 5월 10일 입니다. 5월은 가정의 달입니다.

- f string 사용해서 값 넣기

In [11]:
a=5
b=10

print(f'오늘은 {a}월 {b}일 입니다.')

오늘은 5월 10일 입니다.

6. 문자열 분해

In [29]:
a = 'I am a .boy'
print(a.split())
print(a.split('.'))

['I', 'am', 'a', '.boy']
['I am a ', 'boy']

7. 리스트 구조

In [35]:
b = [1, [1, 2], [1, [1, 2]]]

print(b[0])
print(b[1][1])
print(b[2][1][0])

1
2
1

- 리스트에 추가

In [36]:
b.append(10)
b

[1, [1, 2], [1, [1, 2]], 10]

- 리스트에 인덱스로 제거

In [38]:
b.pop(3)
b

[1, [1, 2], [1, [1, 2]]]

8. 튜플 : 치환 불가능

In [39]:
a = (1,2,3)
a[2] = 0

TypeError: 'tuple' object does not support item assignment

9. 딕셔너리 : {Key : [value]} 구성

In [42]:
a = {'car' : ['bus', 'truck', 'taxi'],
    'train' : 'ktx'}
a

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx'}

- 요소 추가하기

In [43]:
a = {'car' : ['bus', 'truck', 'taxi'],
    'train' : 'ktx'}

a['plane'] = 'jet'
print(a)

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx', 'plane': 'jet'}

- 요소 삭제하기

In [44]:
a = {'car' : ['bus', 'truck', 'taxi'],
    'train' : 'ktx'}

del a['car']
print(a)

{'train': 'ktx'}

10. range = range(11) : 11 미만의 범위

In [46]:
#range(1,10,2) : 1 부터 10 미만의 범위에서 2씩 증가

for i in range(1,10,2):
    print(i)

1
3
5
7
9

11. 함수에서 여러가지 입력값을 받고 싶을 때

In [49]:
def function5(*args):
    for i in args:
        print(i)

function5(1, 3, 5, 7, 4, 'd', 2, 60)

1
3
5
7
4
d
2
60

12. 라이브러리 사용 (pandas)

In [50]:
!pip import pandas

ERROR: unknown command "import"

In [51]:
import pandas as pd

In [52]:
pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6]})

   a  b
0  1  4
1  2  5
2  3  6